body {font-family: 'Lato', sans-serif;; background-color: #fdefdf;}
h1 {font-size: 3.5em; color: #a9bbc8; margin-left: 42%;}
h2 {font-size: 2.5em; color: #202e44;}
p {font-size: 1.14em}
.div1 {       
        justify-content: space-between;
        align-items: center;
        padding: 10px; /* Adds padding for better spacing */
}

h1 {
        margin: 0; /* Remove margin for h1 to prevent extra space */
        text-align: center;
        font-size: 3.5em;
        color: #a9bbc8;
        font-family: 'Mina', sans-serif;
}

nav {
        text-align: center; /* Center the navigation links */
}

.links a {
        margin-right: 10px; /* Adjust the spacing between the navigation links */
        color: #ffffff; 
        text-decoration: none; /* Removes underline */
        font-family: 'Lato', sans-serif;
}

.links a.firsth {
        margin-left: 0; /* Remove the margin for the first link */
}

body {
        margin: 0; /* Removes default body margin */
}

.skip {
        background-color: #ffbf00;
        padding: 5px;
        border: #000000;
        text-decoration: none;
        position: absolute; /* positions an element relative to the top left of the viewport */
        top: 10px;
        left: -999px;  /* -999 pushes off the left side of the screen */
    }

.skip:focus {
        left: 10px; /*bring it back when its been tabbed to */
}

@keyframes logoAnimation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

h1 {
color: #a9bbc8;
animation: logoAnimation 2s infinite; /* Apply the animation to the logo */
}

@media screen and (max-width: 600px){
        
    nav a {
            display: block;
            margin: 10px 0;
            display: 100%;
    }

    nav span {
            display: none;
    }
}