nav {background-color: #FFF2D8;}
nav a {color: #0a6f91;}
nav a:hover {background-color: #BCA37F;}
nav {padding: 10px;}
nav {margin-bottom: 30px}
body {font-family: 'Times New Roman', serif;}
h1 {font-size: 3.5em;}
h2 {font-size: 2.2em;}
body {background-color: #EAD7BB;}
h1, h2 {color: #113946;}
p {color:#113946;}
li {color: #113946;}
table {color:#113946;}
a {color: #0a6f91;}